@charset "UTF-8";

body {
  font-family : Verdana, Helvetica, Arial, sans-serif;
  background-color: white;
  margin : 0% 2%;
}


select { 
  font-size : larger
}

body > p {
  margin : 10px 20px;
  color : #888;
}
body > p a {
  color : #666;
}